<!DOCTYPE html>
<html>
<head>

    <title>Page Title</title>

    <script src="mover.js"></script>
    <link rel="stylesheet" type="text/css"  href="auto.css" />

    <style>
    th, td {
    border: 1px solid black;
    s}
</style>
</head>
<body>
      <h1> Simulacion en ejecucion</h1>

    <div>
        <label>Posicion:</label><p>x: <%= @posicionX %>,y: <%= @posicionY %></p>
    </div>
    <div>
        <label>orientacion: </label><p><%= @orientacionNueva %></p>
    </div>

    <h3>Posicion:</h3>
    <table >
        <tr>
            <th>Autos </th>
            <th>x: </th>
            <th>y: </th>
            <th>orientacion: </th>
        </tr>
        <tr>
            <td>Auto 1</td>
            <td id="x"> <%= @posicionX %></td>
            <td id="y"> <%= @posicionY %></td>
            <td id="orientacion"> <%= @orientacionNueva %></td>
        </tr>
    </table>


   <div class="tablero" >
        <img id="myDiv" src="mario2.jpg" width="50" height="50" >
   </div>

<form method='post' action='/avanzar'>
    <%# <button type="button" onclick="myFunctionA()">adelante</button> %>
    <input type='number' name='posicionActualX' value="<%= @posicionX %>" hidden>
    <input type='number' name='posicionActualY' value="<%= @posicionY %>" hidden>
    <input type='text' name='orientacionActual' value="<%= @orientacionNueva %>" hidden>
    <input type='text' name='movimientos' value="A" hidden>
    <input type="submit" onclick="myFunctionA()" value="adelante">
</form>

<form method='post' action='/izquierda'>
    <%# <button type="button" onclick="myFunctionI()">arriba</button> %>
    <input type='number' name='posicionActualX' value="<%= @posicionX %>" hidden>
    <input type='number' name='posicionActualY' value="<%= @posicionY %>" hidden>
    <input type='text' name='orientacionActual' value="<%= @orientacionNueva %>" hidden>
    <input type='text' name='movimientos' value="I" hidden>
    <input type="submit" onclick="myFunctionI()" value="izquierda">
</form>

<form method='post' action='/derecha'>
    <%# <button type="button" onclick="myFunctionD()">abajo</button> %>
    <input type='number' name='posicionActualX' value="<%= @posicionX %>" hidden>
    <input type='number' name='posicionActualY' value="<%= @posicionY %>" hidden>
    <input type='text' name='orientacionActual' value="<%= @orientacionNueva %>" hidden>
    <input type="submit" onclick="myFunctionD()" value="derecha">
</form>


    <p id="m" hidden>Holaa</p>
    
    <script>
    function obtenerDatos() {
        let datosX="<%= @posicionX %>";
        console.log(datosX);
        let datosY="<%= @posicionY %>";
        console.log(datosY);

        let a=document.getElementById("m").textContent;
        console.log(a);
  
        enviardatos({datosX,datosY});
    }

    obtenerDatos();
    </script>

</body>
</html>